<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "watson/css/watson.css" %}" media="screen" />
<script src="{% static "watson/js/watson.js" %}"></script>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<div class="token">
    {% csrf_token %}
</div>
<iframe src="{{ url }}" class="fixed margin-top-50 width-100p height-95p"></iframe>
<nav class="navbar navbar-default navbar-static-top fixed margin-bottom-0" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="dropdown watson-sessions-dropdown">
                <a class="watson-sessions dropdown-toggle navbar-brand" data-toggle="dropdown" data-target="#">
                    {{ state.session }}
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
        <li class="btn-group watson-btn-group">
            {% for category, types in categories.items %}
                <li class="dropdown watson-cat">
                    <div class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                        <button type="button" class="watson-cat-btn btn btn-default navbar-btn save-btn {% if set.category == category %}btn-success{% endif %}">{{ category }}</button>
                    </div>
                    <ul class="dropdown-menu">
                        {% for type in types %}
                            <li><a class="watson-btn {% if set.pk == type.pk %}btn-success{% endif %}">{{ type.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </li>
            <button type="button" class="btn btn-primary navbar-btn watson-next">Next</button>
        </ul>
    </div>
</nav>
