<li class="btn-group">
    <div class="label">type</div>
    {% for category, types in categories.items %}
        <li class="dropdown watson-cat">
            <button class="watson-cat-btn btn btn-default navbar-btn dropdown-toggle {% if set.type.category == category %}btn-success{% endif %}" data-toggle="dropdown" data-target="#">
                {{ category }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for type in types %}
                <li><a class="watson-btn {% if set.type.name == type %}btn-success{% endif %}">{{ type }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</li>